    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid px-5 pt-2">
            <a class="navbar-brand" href="/home.html">
                <img src="./images/nutricek-logo.svg" alt="" class="w-75" width="200" height="50">
            </a>
            <div class="d-flex p-2 align-items-center">
                <div class="d-flex align-items-center">
                    <img src="./images/profile.png" alt="profile" width="50">
                    <span class="ms-2 me-lg-5">Satou</span>
                </div>
                <div>
                    <a href="/index.html">
                        <button type="button" class="button button-main">Keluar</button>
                    </a>
                </div>
            </div>
        </div>
      </nav>